<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="../../scripts/jquery/jquery-1.7.1.js"></script>
	<link href="../../style/authority/basic_layout.css" rel="stylesheet" type="text/css">
	<link href="../../style/authority/common_style.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="../../scripts/authority/commonAll.js"></script>
	<script type="text/javascript" src="../../scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
	<script type="text/javascript" src="../../scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>

	<script type="text/javascript" src="../../scripts/jqueryui/jquery-ui.js"></script>
	<link href="../../scripts/jqueryui/jquery-ui.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="../../style/authority/jquery.fancybox-1.3.4.css" media="screen"></link>
	<script type="text/javascript" src="../../scripts/artDialog/artDialog.js?skin=default"></script>
	<script type="text/javascript" src="../../scripts/table.js"></script>
	<title>信息管理系统</title>
	<style>
	.alt td {
		background: black !important;
	}
	</style>
	<script type="text/javascript">
		function update_data_list(table, datas){
	
			for(var i = 0; i < datas.length; i++){
				var item = datas[i];
				var row = add_table_row(items, i);
				add_table_cell(row, item.channelName);
				add_table_cell(row, item.date);
				add_table_cell(row, item.activeCount);
				add_table_cell(row, item.taskPublishCount);
				add_table_cell(row, item.taskEmptyCount);
				add_table_cell(row, item.activeCountOnDay);
				add_table_cell(row, item.activeNewOnDay);
				add_table_cell(row, item.taskPublishCountOnDay);
				add_table_cell(row, item.taskEmptyCountOnDay);
				add_table_cell(row, item.aliveAfter2Days);
				add_table_cell(row, item.aliveAfter7Days);
				add_table_cell(row, item.aliveAfter30Days);
			}
		}
		$(function(){
			$( "#activeTime" ).datepicker({ dateFormat: 'yy-mm-dd' });
			$( "#activeEndTime" ).datepicker({ dateFormat: 'yy-mm-dd' });
			list();
		});
		function list(){
			var items = $("#items")[0];			
			var form = $("form");
			var param = form.serialize();			
			clear_data_list(items);
			
			$.ajax({
				url : "/advert/active/report",
				dataType : "json",
				type : "POST",
				data : param,
				success : function(data){
					if(data.result){
						update_page_info(data);
						update_data_list(items, data.object);
					}
				}
			});
		}
	</script>
</head>
<body>
	<form>
		<div id="container">
			<div class="ui_content">
				<div class="ui_text_indent">
					<div id="box_border">
						<div id="box_top">活跃数据</div>
						<div id="box_center">
							<span>渠道名称</span>
							<select name="channelName" id="channelName" class="ui_select01"></select>
							<span>激活日期</span>
							<input type="text" id="activeTime" name="activeTime"   class="ui_input_txt02" />
							<span>-</span>
							<input type="text" id="activeEndTime" name="activeEndTime"  class="ui_input_txt02" />
							<input type="button" value="查询" class="ui_input_btn01" onclick="head_page()" />
						</div>
					</div>
				</div>
			</div>
			<div class="ui_content">
				<div class="ui_tb">
					<table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
						<thead>
							<tr>
								<th>渠道名称</th>
								<th>日期</th>
								<th>激活总数</th>
								<th>累计发任务的次数</th>
								<th>累计无任务的次数</th>
								<th>当日活跃</th>
								<th>当日新增</th>
								<th>当日下发任务次数</th>
								<th>当日无任务次数</th>
								<th>次日留存</th>
								<th>第七日留存</th>
								<th>第三十日留存</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
				<div class="ui_tb_h30">
					<div class="ui_flt" style="height: 30px; line-height: 30px;">
						<span>共有</span>
						<span class="ui_txt_bold04" id="total_record"></span>
						<span>条记录，当前第</span>
						<span class="ui_txt_bold04" id="current_page_index"></span>
						<span>页</span>
					</div>
					<div class="ui_frt">
						<input type="button" value="首页" class="ui_input_btn01" onclick="head_page()" />
						<input type="button" value="上一页" class="ui_input_btn01" onclick="prev_page()"/>
						<input type="button" value="下一页" class="ui_input_btn01" onclick="next_page()" />
						<input type="button" value="尾页" class="ui_input_btn01" onclick="last_page()" />
						<span>转到第</span>
						<input type="text" id="pageindex" name="pageindex" class="ui_input_txt01" value="1" />
						<span>页</span>
						<input type="button" class="ui_input_btn01" value="跳转" onclick="goto_page()" />
						<input type="hidden" id="total_page" />
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
